<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ex.ua</title>
</head>
<body>
<h1>{{ my_object.key }} (by {{ my_object.author }})</h1>
{% if my_object.description %}
    <h3>Description: {{ my_object.description }}</h3>
{% else %}
    <h3>Object doesnt have description.</h3>
{% endif %}
{% if my_object.password %}
    <h3>Password: {{ my_object.password }}</h3>
{% else %}
    <h3>Password is not set for this object.</h3>
{% endif %}
{% if files_list %}
    <ul>
    {% for mfile in files_list %}
        <li>{{ mfile.file }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No files are available.</p>
{% endif %}
</body>
</html>