{% extends 'fileset.html' %}

{% block content %}
    New description:
    <form name="reg" method="post" action="/{{ fileset.id }}/change_description/">
        {% csrf_token %}
        <textarea cols="40" rows="5" name="description" placeholder="Description">{{ description }}</textarea>
        <button type ="submit">Save</button>
    </form>
{% endblock %}

{% block conten_delete %}
    <button type ="button" class="btn btn-warning" onClick='location.href="/file/{{ f.id }}/delete"'> delete </button>
{% endblock %}

{% block content_upload %}
<h1>Add new file:</h1>
<form enctype="multipart/form-data" method="post" action="/{{ fileset.id }}/upload_file/" >
    {% csrf_token %}
    <!-- <input type="file" class="btn btn-success" name="somefile"> -->
    <label class="btn btn-primary btn-file">
        Browse <input id="upl" class="upl" type="file" hidden>
    </label>
    <button type="submit" class="btn btn-success" id="add" disabled>Add</button>
</form>
{% endblock %}
