<!DOCTYPE HTML>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>VEX.NET</title>
		<link href="{% static "bootstrap.css" %}" rel="stylesheet">
		<link href="{% static "main_page.css" %}" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>VEX.NET</h1>
		</header>
		<div class="container">
			
			<div class="row top-fetch">
				
				<form class="form-inline">
					<input class="input span6" type ="text" pattern="^[ 0-9]+$" id="text" required placeholder="Insert Key" size="50" oninvalid ="setCustomValidity('The key must contain only numbers')" oninput="setCustomValidity('')">
					<button class="btn btn-success">Fetch</button>
				</form>
            </div>
			<div class="row top-buffer" >
				<div class="span4 offset9">
              	<legend>Authorization</legend>
            	<form name="reg" class="cell" method="post">
                    {% csrf_token %}
                	<input class="input span4" type ="text" id="text" name="nick" required placeholder="Login" >
                	<input class="input span4" type ="password" id="passwd" name="password" required placeholder="Password" >
                	<div class="row">                
	                    <button type ="submit" class="btn btn-success span2">Sign in</button>
	                    <button type ="button" class="btn btn-inverse span2" onClick='location.href="registration"'>Sign up</button>
	                </div>
                    <div>{{ message }}</div>
                </form>
                </div>
			</div>
            </div>
		<script src="{% static "jquery.js" %}"></script>
		<script src="{% static "bootstrap.css" %}"></script>
	</body>
</html>
