<!DOCTYPE HTML>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>VEX.NET</title>
		<link href="{% static "bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "myprofile.css" %}" rel="stylesheet">
	</head>
	<body>
		<div class="container hdr">
			<section>
				<div class="page-header subhdr">
				<h3 class="pull-left titl">
					Personal cabinet of {{ nick }}
				</h3>
				<div class="pull-right logout">
					<div class="btn-group">
					<button type="button" class="btn btn-block btn-info" onclick="location.href='/logout/'">
						Log out
					</button>
				</div>
				</div>
					<div class="clearfix"></div>
				</div>
			</section>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-md-9">
					<ul class="nav nav-tabs">
			  			<li class="active"><a data-toggle="tab" href="#myfs">My filesets</a></li>
			  			<li><a data-toggle="tab" href="#newfs">New fileset</a></li>
					</ul>
					<div class="tab-content">
						<div id="myfs" class="tab-pane fade in active newfs">
                            {% for f in filesets %}
                                <p><h3><a href="/{{ f.id }}/">{{ f.name }}</a></h3></p>
                                <dl class="dl-horizontal">
                                    <dt class="descr">Creation date</dt>
                                    <dd class="descr">- {{ f.created_date }}</dd>
                                    <dt class="descr">Expired date</dt>
                                    <dd class="descr">- {{ f.expire_date }}</dd>
                                </dl>
                                <br>
                            {% endfor %}
						</div>
						<div id="newfs" class="tab-pane fade ">
							<div class="col-md-6">
								<legend>Create new fileset</legend>
							  	<form method="post" action="/create_fileset/">
                                    {% csrf_token %}
									<div class="form-group">
										<input class="input form-control" type ="text" id="text" name="name" required placeholder="Name" >
									</div>
									<div class="form-group">
										<input class="input form-control" type ="password" id="passwd" name="password" placeholder="Password" >
									</div>
									<div class="form-group">
										<textarea class="form-control" rows="5" id="comment" name="description" placeholder="Description"></textarea>
									</div>
									<div class="row">
										<label class="col-md-4 control-label">Select expire date: </label>
									<div class="col-md-8">
										<div class="form-group">
											<input class="input form-control" type ="date" name="expire_date">
										</div>
									</div>
									</div>
									<div class="form-group">
										<button type ="submit" class="btn btn-success">Create</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-3">
						<h3>Rank <span class="label label-info"> {{ rank }} </span></h3>
						<h3>All Files <span class="label label-info"> {{ allfiles }} </span></h3>
						<h3>All Sets <span class="label label-info"> {{ allsets }} </span></h3>
						<h3>All Downloads <span class="label label-info"> {{ alldownloads }} </span></h3>
						<h3>Curr Files <span class="label label-info"> {{ currfiles }} </span></h3>
						<h3>Curr Sets <span class="label label-info"> {{ currsets }} </span></h3>
						<h3>Curr Downloads <span class="label label-info"> {{ currdownloads }} </span></h3>
				</div>
			</div>
		</div>
		<footer>
			<div class="container">
          		<h6>© 2017 VEX.NET ALL RIGHTS RESERVED</h6>
         	</div>
		</footer>
		<script src="{% static "jquery.js" %}"></script>
		<script src="{% static "bootstrap.min.js" %}"></script>
	</body>
</html>