<!DOCTYPE HTML>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>EX.UA ALIVE!</title>
        <link rel="stylesheet" type="text/css" href="{% static "registration_form.css" %}">
        <link href="{% static "bootstrap.css" %}" rel="stylesheet">
        <script async type="text/javascript" src="{% static "conf_passwd.js" %}"></script>
    </head>
    <body>
        <header>
            <h1>Registration Form</h1>
        </header>
        <div class="container">
          <div class="row">
            <div class="well span6 offset3">
              <legend>Input your personal data</legend>
            	<form name="reg" class="cell" method="post">
                    {% csrf_token %}
                	<input class="input span4" type ="text" id="text" name="nick" required placeholder="Your nick" >
                  <label for="text" class="span2 ">Input your nickname</label>
                	<input class="input span4" type ="email" id="email" name="email" required placeholder="Your e-mail" >
                  <label for="email" class="span2">Input your e-mail</label>
                	<input class="input span4" type ="password" id="passwd" name="password" required placeholder="Password" >
                  <label for="passwd" class="span2">Input your password</label>
                	<input class="input span4" type ="password" id="confpasswd" required placeholder="Confirm password" >
                  <label for="confpasswd" class="span2">Confirm your password</label>
                  <button type ="submit" class="btn btn-block btn-success">Register me</button>
              </form>
            </div>
          </div>
        </div>
        <script src="{% static "jquery.js" %}"></script>
        <script src="{% static "bootstrap.min.js" %}"></script>
    </body>
</html>