<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form method="post">
     {% csrf_token %}
        <label>Nick:
            <input type="text" name="nick" value="">
        </label><br>
        <label>Password:
            <input type="password" name="password" value="">
        </label><br>
            <label>E-mail:
            <input type="email" name="email" value="">
        </label><br>
        <input type="submit" value="Sign up" />
</form>
</body>
</html>