<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Practice 2017">
    <meta name="author" content="FRECS">
    <link rel="icon" href="logo.png">

    <title>Створення заходу</title>

    <!-- Bootstrap core CSS -->
    <link href="static/app/content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/app/content/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">

    <form class="form-signin" action = "{% url "app.views.creating" %}"
         method = "POST" >{% csrf_token %}>
        <h2 class="form-signin-heading">Створення події</h2>
        <label for="inputTitle" class="sr-only">Назва</label>
        <input type="text" id="inputTitle" class="form-control" name = "evt_title" placeholder="Назва події" required autofocus>
        <label for="inputDescription" class="sr-only">Опис</label>
        <input type="text" id="inputDescription" class="form-control" name = "evt_description" placeholder="Опис події" required>

        <h3 class="form-signin-heading">Дати події</h3>
        <p>
        Дата:
        <input type="date" name = "evt_date">
        </p>

        <h3 class="form-signin-heading">Межі голосування</h3>
        <p>
        Початок голосування:
            </br>
        <input type="date" name = "evt_vote_start">
        </p>

        <p>
        Кінець голосування:
            </br>
        <input type="date" name = "evt_vote_start">
        </p>

        <button class="btn btn-action btn-lg btn-primary btn-block" type="submit" value = "Login" >Створити</button>
    </form>


</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/static/app/scripts/bootstrap.min.js"></script>
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="../../assets/js/docs.min.js"></script>
</body>
</html>
