{% extends 'base.html' %}

{% block title %}Play Game{% endblock %}
   
{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 play-game">
               <h1 class="text-center">Play game</h1>
                   <p class="text-center">
                       <b>Enemy: </b>
                       <span class="">
                           <a href="#">{{ game.firstuser.username }}</a>
                       </span>
                   </p>
                    <form action="">
                        <h4 class="text-center">Choose your bet</h4>
                       <p class="text-center">
                            <label>
                              <input type="radio" name="bet" value="stone" />
                              <span class="radio stone"></span>
                            </label>
                            <label>
                              <input type="radio" name="bet" value="scissors" />
                              <span class="radio scissors"></span>
                            </label>
                            <label>
                              <input type="radio" name="bet" value="paper" />
                              <span class="radio paper"></span>
                            </label>
                            <label>
                              <input type="radio" name="bet" value="lizard" />
                              <span class="radio lizard"></span>
                            </label>
                            <label>
                              <input type="radio" name="bet" value="spock" />
                              <span class="radio spock"></span>
                            </label>
                        </p>
                        <p class="text-center">
                            <button class="btn btn-success">Play</button>
                        </p>
                    </form>
            </div>
        </div>
    </div>
    
    <!-- /.container -->
{% endblock %}
