{% extends 'base.html' %}

{% block title %}Statistics{% endblock %}
   
{% block content %}
    <!-- Page Content -->
    <div class="container statistics">
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 games">
                <h3 class="text-center">Available games</h3>
                <div class="container-fluid">
                    <div class="row">
                        <div class="games-list col-xs-12">
                           {% for game in availableGames %}
                            <div data-game-id="{{ game.id }}" class="game">
                                <div class="pull-left">
                                    <p>
                                        <b>Game: </b>
                                        #<span class="game-id">{{ game.id }}</span>
                                    </p>
                                    <p>
                                        <b>Enemy: </b>
                                        <span class="enemy-name">
                                            <a href="#">{{ game.firstuser.username }}</a>
                                        </span>
                                    </p>
                                </div>
                                <div class="play-button pull-right text-right">
                                    <a href="/play-game/{{ game.id }}" class="btn btn-success">
                                        Play
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            {% endfor %}
                            <p class="text-center">
                                <a href="/available-games/" class="btn btn-warning">
                                    All games
                                </a>
                            </p>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="col-md-4 games">
                <h3 class="text-center">Games history</h3>
                <div class="games-list col-xs-12">
                    {% for game in playedGames %}
                    <div data-game-id="{{ game.id }}" class="game">
                        <p class="text-center">
                            <b>Game: </b>
                            #<span class="game-id">{{ game.id }}</span>
                        </p>
                        <div class="col-sm-6 col-xs-12">
                            <p>
                                <b>Player #1: </b>
                                <span class="playername">
                                    <a href="#">{{ game.firstuser.username }}</a>
                                </span>
                            </p>
                            <p>
                                <b>Bet: </b>
                                <span class="bet">
                                    {{ game.firstbet }}
                                </span>
                            </p>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <p>
                                <b>Player #2: </b>
                                <span class="playername">
                                    <a href="#">{{ game.seconduser.username }}</a>
                                </span>
                            </p>
                            <p>
                                <b>Bet: </b>
                                <span class="bet">
                                    {{ game.secondbet }}
                                </span>
                            </p>
                        </div>
                        <p class="text-center">
                            <b>Winner: </b>
                            <span class="winner">Player1</span>
                        </p>
                    </div>
                    {% endfor %}
                    <p class="text-center">
                            <a href="/played-games/" class="btn btn-warning">
                                All games
                            </a>
                    </p>
                </div>
            </div>
            <div class="col-md-4 players">
               <h3 class="text-center">Players stats</h3>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Best player
                    </div>
                    <div class="panel-body">
                        <p>
                            <b>Player: </b>
                            <span>Player</span>
                        </p>
                        <p>
                            <b>Played: </b>
                            <span>0</span>
                        </p>
                        <p>
                            <b>Won: </b>
                            <span>0</span>
                        </p>
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Worst player
                    </div>
                    <div class="panel-body">
                        <p>
                            <b>Player: </b>
                            <span>Player</span>
                        </p>
                        <p>
                            <b>Played: </b>
                            <span>0</span>
                        </p>
                        <p>
                            <b>Lost: </b>
                            <span>0</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <hr>

    </div>
    <!-- /.container -->
{% endblock %}
