{% extends "app/layout.html" %}

{% block content %}

      <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Всі події <span class="sr-only">(current)</span></a></li>
            <li><a href="">Випадкова подія</a></li>
            <li><a href="">За популярністю</a></li>
            <li><a href="">За спаданням популярності</a></li>
            <!--<li><a href="#">Export</a></li>-->
          </ul>
          <ul class="nav nav-sidebar">
            <!--<li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>-->
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="#">Створити подію</a></li>
            <li><a href="">Створені мною</a></li>
            <li><a href="#">Статистика</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <!--<h1 class="page-header">Панель</h1>-->

          <!--<div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <img src="logo.png">
            </div> -->
          <!--  <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>-->


          <h2 class="sub-header">Всі події</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Назва</th>
                  <th>Дата</th>
                  <th>Опис</th>
                  <th>Популярність</th>
                </tr>
              </thead>
              <tbody>
                {% for evnt in  all_event %}
                    <tr>
                        <td> {{ evnt.eventid }} </td>
                        <td> {{ evnt.name }}</td>
                        <td> {{ evnt.date }}</td>
                        <td> {{ evnt.details|linebreaks  }}</td>
                        <td>  {{ evnt.participants.count }}</td>
                    </tr>
                {% endfor %}
                    
              </tbody>
            </table>
          </div>
        </div>
      </div>
{% endblock %}
