{% extends "app/layout.html" %}

{% block content %}

      <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <h2 class="sub-header">Всі події</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Назва</th>
                  <th>Дата</th>
                  <th>Опис</th>
                  <th>Популярність</th>
                </tr>
              </thead>
              <tbody>
                {% for evnt in  all_event %}
                    <tr>
                        <td> {{ evnt.eventid }} </td>
                        <td> {{ evnt.name }}</td>
                        <td> {{ evnt.date }}</td>
                        <td> {{ evnt.details|linebreaks  }}</td>
                        <td>  {{ evnt.participants.count }}</td>
                    </tr>
                {% endfor %}
                    
              </tbody>
            </table>
          </div>
        </div>
     

{% endblock %}
