
*{
	margin: 0;
	padding: 0;
	font-family: 'B20 Sans', sans-serif;
}
body {
	background: #f2f2f2;
}

#bar {
	top:0;
	width: 100%;
	position: fixed;
	height: 34px;
	background: #333333;
	z-index: 20;
    box-shadow: 0px 0px 6px #ccc;
}

#message_box {
	border-radius: 20px;
    position: relative;
    height:560px;
    background:honeydew;
		width: 50% inherit;;
    margin-top:0px;
    box-shadow: 0px 0px 10px #ccc;
}
.left{
	border-radius: 20px;

	width: 50%;
}
.right{
	padding-top: 40px;
	border-radius: 20px;

	width: 50%;
	float: right;
}
.contacts{
	border-radius: 20px;

  position: relative;
  height: 560px;
  width: 600px;
  background-color: AliceBlue;
  margin-top: 40px;
  margin-left:20px;
  padding-left: 0;
  float: left;
	box-shadow: 0px 0px 10px #ccc;
}
.person {
	position: relative;
	width: 100%;
	cursor: pointer;
	}

		.history_field:hover {
			background-color:#CCFFFF;
			transition: 1s;
		}
.new_message{
	float:right;
	right: 30px;
	padding: 5px;
	margin-top:-10px;
	border-radius: 60%;
	background-color: #E02933;
	top: 10px;
	right: 20px;
	font-size: 0.5em;
	color: #ccc;
}
input {
  float: center;
  width: 160px;
  height: 40px;
	margin-left: 40px;
  border: 1px solid #ccc;
  background-color: #eceff1;
  border-radius: 20px;
}
.top {
					 position: relative;
					 width: 100%;
					 height: 40px;
					 padding: 29px;
				 }

 .time {
					 right: 10px;
					 float: right;
					 color: #ccc;
					 font-size: 0.5em;
					 }
					 .img_area{
					 	margin: 10px;
					 	position: absolute;
					 	display: inline-block;
					 	width: 40px;
					 	height: 40px;
					 	border-radius: 50%;
					 	background:#ccc;
					 }
					 .history_field{
						 width: 80%;
						 position: relative;
 					 	display: inline-block;
 					 	margin-top: 10px;
						margin-left: 70px;
 					 	height: 30px;
 					 	padding-top: 10px;
						padding-left: 20px;
 					 	background: #fff;
						border-radius: 5px;
					 }
	 img {
		 width: 100%;
position: absolute;
border-radius: 50%;
	 }
span{
	font-size: 10px;
	display: inline-block;
	position: relative;
}
.people li {float:left;
	list-style: none;
}

#action_bar {
    position: relative;
    height:60px;
    width:450px;
    margin-left:-225px;
    left:50%;
    margin-top:560px;
}

#photo {
	margin: 3px;
    position: relative;
    display: inline-block;
    height:100%;
    width:60px;
    border-radius:50%;
    background: #fff;
    box-shadow: 0px 0px 10px #ccc;
}
#message_input_part {
	margin: 3px;
    position: relative;
    display: inline-block;
    height:100%;
    border-radius:30px;
    width:300px;
    background: #fff;
    box-shadow: 0px 0px 10px #ccc;
}

#button_part{
	margin: 3px;
	top: 0;
    position: relative;
    display: inline-block;
    height:100%;
    width:60px;
    border-radius:50%;
    background: #fff;
    box-shadow: 0px 0px 10px #ccc;
}
#inf_about_chat {
	position: relative;
	margin: 0;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #f2f2f2;
}
