body {
	background-image: url("background.jpg");
}
legend {
	text-align: center;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid #9c9c9c;
    background-color: white;
}
.top-buffer {
	position: absolute;
    top:1%;
}
.top-fetch {
	position: absolute;
    top: 50%;
}
h1 {
	font-style: italic;
	margin-left: 50px;
}