legend
{
	text-align: center;
}
body
{
	background-image: url("background.jpg");
}
.top-buffer
{
	position: absolute;
    top:1%;
}
.top-fetch
{
	position: absolute;
    top: 50%;
}
h1
{
	font-style: italic;
	margin-left: 50px;
}