html {
    height: 100%;
}
body {
	padding: 0;
	margin: 0;
    position: relative;
    min-height: 100%;
    padding-bottom: 40px;
    background-image: url("background.jpg");
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid #9c9c9c;
    background-color: white;
}
h1 {
	text-align: center;
}
.cao {
	height: 300px;
}
.btn {
	background-color: #090a28;
}
.jumbotron {
	height: 326px;
	overflow-y: scroll; 
	background-color: #aff3d5;
}
.btn-group {
    bottom: 15px;
    position: relative;
    top: 15px;
}
.descr {
	color: #aaa;
}
