html {
    height: 97%;
}
body {
	padding: 0;
	margin: 0;
    position: relative;
    min-height: 100%;
    padding-bottom: 40px;
}
header {
    background-color: black;
    color:white;
}
.hdr {
    margin-left: 20px;
}
fieldset {
	border-radius: 3px;
	border-color: black;
}
legend {
	font-size: 20pt;
	text-align: center;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid #9c9c9c;
    background-color: black;
    color: white;
}
.input {
	border-radius: 7px;
}
.cell {
	width: 60%;
}


